.logo{
    display:block;
    max-width: 230px;
    max-height: 95px;
    width:auto;
    height: auto;
}
.anh{
    display: block;
    max-width: 700px;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.row,.intro,.luuy,.loichuc{    
    padding: 0px 0px 25px 0px;
}
h1{
    padding:0px 0px 10px 0px;
}
