.menu ul li{
    float:left;
    padding: 0 25px 0 0;
}
img{
    width: 100%;
    padding: 23px 15px 15px 0;
}
footer{
    margin-top: 20px;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    
  }